.App {
    text-align: center;
}

.gutter-row {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 10px;
}

.anticon {
    color: #817d7d;
}

.anticon-left,.anticon-right {
    border:1px solid #d6d6d6;
    color: #d6d6d6;
    padding: 8px;
}

.ant-pagination-item-1 {
    border: 1px solid rgb(53, 137, 247) !important;
    border-radius: 0px !important;
}

.ant-select {
    margin: 20px auto !important;
}